<form nz-form [formGroup]="dotKeKhaiForm">
  <!-- Các trường khác -->

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Đại lý</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Vui lòng chọn đại lý">
      <nz-select formControlName="daiLyId" nzPlaceHolder="Chọn đại lý">
        <nz-option 
          *ngFor="let daiLy of daiLys" 
          [nzValue]="daiLy.id" 
          [nzLabel]="daiLy.ten">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!-- Các trường khác -->
</form> 