<div class="users-container">
  <div class="users-header">
    <h1>Quản lý người dùng</h1>
    <div class="header-actions">
      <button nz-button nzType="primary" nzDanger *ngIf="setOfCheckedId.size > 0" (click)="deleteSelectedUsers()">
        <span nz-icon nzType="delete"></span>
        Xóa {{ setOfCheckedId.size }} người dùng
      </button>
      <button nz-button (click)="loadUsers()" class="action-button">
        <span nz-icon nzType="reload"></span>
        Làm mới
      </button>
      <button nz-button nzType="primary" (click)="showAddModal()">
        <span nz-icon nzType="plus"></span>
        Thêm mới
      </button>
    </div>
  </div>

  <div class="filters-container">
    <div nz-row [nzGutter]="16" nzAlign="middle">
      <div nz-col [nzSpan]="6">
        <nz-input-group [nzSuffix]="searchIcon">
          <input nz-input placeholder="Tìm kiếm theo tên đăng nhập hoặc họ tên" [(ngModel)]="searchValue" (ngModelChange)="onSearch()" />
        </nz-input-group>
        <ng-template #searchIcon>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div nz-col [nzSpan]="3">
        <nz-select [(ngModel)]="selectedRole" (ngModelChange)="onRoleChange()" nzPlaceHolder="Lọc theo vai trò" [nzAllowClear]="true" style="width: 100%">
          <nz-option *ngFor="let opt of roleOptions" [nzValue]="opt.value" [nzLabel]="opt.label"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="3">
        <nz-select [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange()" nzPlaceHolder="Lọc theo trạng thái" [nzAllowClear]="true" style="width: 100%">
          <nz-option *ngFor="let opt of statusOptions" [nzValue]="opt.value" [nzLabel]="opt.label"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="3">
        <nz-select [(ngModel)]="selectedProvince" 
                  (ngModelChange)="onProvinceChange()" 
                  nzPlaceHolder="Chọn tỉnh/thành" 
                  [nzAllowClear]="true" 
                  [nzShowSearch]="true"
                  [nzFilterOption]="filterProvince"
                  style="width: 100%">
          <nz-option *ngFor="let province of provinces" 
                    [nzValue]="province.ma" 
                    [nzLabel]="province.ten"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="3">
        <nz-select [(ngModel)]="selectedDistrict" 
                  (ngModelChange)="onDistrictChange()" 
                  nzPlaceHolder="Chọn quận/huyện" 
                  [nzAllowClear]="true" 
                  [nzShowSearch]="true"
                  [nzFilterOption]="filterDistrict"
                  [nzDisabled]="!selectedProvince"
                  style="width: 100%">
          <nz-option *ngFor="let district of districts" 
                    [nzValue]="district.ma" 
                    [nzLabel]="district.ten"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="3">
        <nz-select [(ngModel)]="selectedCommune" 
                  (ngModelChange)="onCommuneChange()" 
                  nzPlaceHolder="Chọn phường/xã" 
                  [nzAllowClear]="true" 
                  [nzShowSearch]="true"
                  [nzFilterOption]="filterCommune"
                  [nzDisabled]="!selectedDistrict"
                  style="width: 100%">
          <nz-option *ngFor="let commune of communes" 
                    [nzValue]="commune.ma" 
                    [nzLabel]="commune.ten"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="2">
        <button nz-button (click)="resetFilters()">
          <span nz-icon nzType="close"></span>
          Xóa lọc
        </button>
      </div>
    </div>
  </div>

  <nz-table #basicTable [nzData]="filteredUsers" [nzLoading]="isLoading" 
            [nzScroll]="{ x: '1500px' }">
    <thead>
      <tr>
        <th [nzChecked]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
            nzWidth="60px"></th>
        <th nzWidth="60px">ID</th>
        <th nzWidth="120px">Tên đăng nhập</th>
        <th nzWidth="150px">Họ và tên</th>
        <th nzWidth="200px">Email</th>
        <th nzWidth="120px">Số điện thoại</th>
        <th nzWidth="120px">Xã</th>
        <th nzWidth="120px">Huyện</th>
        <th nzWidth="120px">Tỉnh</th>
        <th nzWidth="100px">Vai trò</th>
        <th nzWidth="120px">Đơn vị</th>
        <th nzWidth="120px">Trạng thái</th>
        <th nzWidth="120px">IP</th>
        <th nzWidth="200px">Vị trí</th>
        <th nzWidth="160px">Đăng nhập gần nhất</th>
        <th nzWidth="150px" nzRight="0px" nzFixed="right">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of basicTable.data">
        <td [nzChecked]="setOfCheckedId.has(user.id)"
            (nzCheckedChange)="onItemChecked(user.id, $event)"></td>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.ho_ten }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.so_dien_thoai }}</td>
        <td>{{ user.commune }}</td>
        <td>{{ user.district }}</td>
        <td>{{ user.province }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.unit }}</td>
        <td>
          <span [class.active]="user.status === 'active'" 
                [class.inactive]="user.status !== 'active'"
                [class.deleted]="user.is_deleted">
            {{ user.is_deleted ? 'Đã xóa' : (user.status === 'active' ? 'Hoạt động' : 'Không hoạt động') }}
          </span>
        </td>
        <td>
          <span *ngIf="user.last_login_ip">{{ user.last_login_ip }}</span>
        </td>
        <td class="location-cell">
          <span *ngIf="user.last_login_location" nz-tooltip [nzTooltipTitle]="user.last_login_location">
            {{ user.last_login_location }}
          </span>
        </td>
        <td>
          <span *ngIf="user.last_login_at" nz-tooltip [nzTooltipTitle]="user.last_login_at | date:'dd/MM/yyyy HH:mm:ss'">
            {{ getTimeAgo(user.last_login_at) }}
          </span>
        </td>
        <td nzRight="0px" nzFixed="right">
          <button nz-button nzType="primary" (click)="showEditModal(user)" class="action-button">
            <span nz-icon nzType="edit"></span>
          </button>
          <button nz-button
                  [nzType]="user.status === 'active' ? 'default' : 'primary'"
                  (click)="toggleStatus(user)"
                  class="action-button"
                  nz-tooltip
                  [nzTooltipTitle]="user.status === 'active' ? 'Khóa tài khoản' : 'Mở khóa tài khoản'">
            <span nz-icon [nzType]="user.status === 'active' ? 'lock' : 'unlock'" nzTheme="outline"></span>
          </button>
          <button nz-button nzType="default" (click)="resetPassword(user)" class="action-button" nz-tooltip nzTooltipTitle="Đặt lại mật khẩu">
            <span nz-icon nzType="key"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal
    [nzTitle]="editingUser ? 'Cập nhật người dùng' : 'Thêm người dùng'"
    [(nzVisible)]="isModalVisible"
    [nzWidth]="900"
    (nzOnCancel)="handleCancel()"
    [nzOkText]="editingUser ? 'Cập nhật' : 'Thêm mới'"
    nzCancelText="Hủy"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isLoading">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="userForm" nzLayout="vertical">
        <div nz-row [nzGutter]="16">
          <!-- Thông tin cơ bản -->
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Tên đăng nhập</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng nhập tên đăng nhập!">
                <nz-input-group [nzPrefix]="userIcon">
                  <input nz-input 
                         formControlName="username" 
                         placeholder="Nhập tên đăng nhập"
                         autocomplete="off" />
                </nz-input-group>
                <ng-template #userIcon>
                  <span nz-icon nzType="user"></span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Mật khẩu</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
                <input nz-input 
                       type="password" 
                       formControlName="password" 
                       placeholder="Nhập mật khẩu"
                       autocomplete="new-password" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Họ và tên</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng nhập họ và tên!">
                <input nz-input formControlName="ho_ten" placeholder="Nhập họ và tên" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Thông tin liên hệ -->
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label>Email</nz-form-label>
              <nz-form-control nzErrorTip="Email không hợp lệ!">
                <nz-input-group [nzPrefix]="emailIcon">
                  <input nz-input formControlName="email" placeholder="Nhập email" />
                </nz-input-group>
                <ng-template #emailIcon>
                  <span nz-icon nzType="mail"></span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label>Số điện thoại</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzPrefix]="phoneIcon">
                  <input nz-input formControlName="so_dien_thoai" placeholder="Nhập số điện thoại" />
                </nz-input-group>
                <ng-template #phoneIcon>
                  <span nz-icon nzType="phone"></span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Vai trò</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng chọn vai trò!">
                <nz-select formControlName="role" nzPlaceHolder="Chọn vai trò">
                  <nz-option *ngFor="let opt of roleOptions" [nzValue]="opt.value" [nzLabel]="opt.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Thông tin đơn vị -->
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Mã phòng ban</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng nhập mã phòng ban!">
                <nz-input-group [nzPrefix]="deptIcon">
                  <input nz-input formControlName="department_code" placeholder="Nhập mã phòng ban" />
                </nz-input-group>
                <ng-template #deptIcon>
                  <span nz-icon nzType="apartment"></span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label>Đơn vị</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzPrefix]="unitIcon">
                  <input nz-input formControlName="unit" placeholder="Nhập đơn vị" />
                </nz-input-group>
                <ng-template #unitIcon>
                  <span nz-icon nzType="team"></span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Trạng thái</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng chọn trạng thái!">
                <nz-select formControlName="status" nzPlaceHolder="Chọn trạng thái">
                  <nz-option nzValue="active" nzLabel="Hoạt động"></nz-option>
                  <nz-option nzValue="inactive" nzLabel="Không hoạt động"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Địa chỉ -->
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Tỉnh/Thành phố</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/thành phố!">
                <nz-select formControlName="province" 
                          nzPlaceHolder="Chọn tỉnh/thành phố"
                          nzShowSearch
                          [nzFilterOption]="filterProvince">
                  <nz-option *ngFor="let province of provinces" 
                            [nzValue]="province.ma" 
                            [nzLabel]="province.ten">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Quận/Huyện</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng chọn quận/huyện!">
                <nz-select formControlName="district" 
                          nzPlaceHolder="Chọn quận/huyện"
                          nzShowSearch
                          [nzFilterOption]="filterDistrict">
                  <nz-option *ngFor="let district of districts" 
                            [nzValue]="district.ma" 
                            [nzLabel]="district.ten">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Xã/Phường</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng chọn xã/phường!">
                <nz-select formControlName="commune" 
                          nzPlaceHolder="Chọn xã/phường"
                          nzShowSearch
                          [nzFilterOption]="filterCommune">
                  <nz-option *ngFor="let commune of communes" 
                            [nzValue]="commune.ma" 
                            [nzLabel]="commune.ten">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </ng-container>
  </nz-modal>
</div>
