<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/">
        <div class="logo-text" [class.collapsed]="isCollapsed">
          <ng-container *ngIf="!isCollapsed">
            <div>CTY TNHH MTV TMDV</div>
            <div>HUY PHÚC</div>
          </ng-container>
          <div *ngIf="isCollapsed" class="collapsed-text">HP</div>
        </div>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter routerLink="/dashboard">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li nz-submenu nzTitle="Quản lý" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/don-vi">
            <span nz-icon nzType="shop"></span>
            <span>Đơn vị</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/dot-ke-khai">
            <span nz-icon nzType="profile"></span>
            <span>Đợt kê khai</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/dai-ly" *ngIf="isAdmin">
            <span nz-icon nzType="team"></span>
            <span>Đại lý</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/users" *ngIf="isAdmin">
            <span nz-icon nzType="user"></span>
            <span>Người dùng</span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Biên lai" nzIcon="file-text">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/bien-lai/quyen-bien-lai" *ngIf="isAdmin">
            <span nz-icon nzType="book"></span>
            <span>Quyển biên lai</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/bien-lai/danh-sach">
            <span nz-icon nzType="solution"></span>
            <span>Danh sách biên lai</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/bien-lai/cap-phat" *ngIf="isAdmin">
            <span nz-icon nzType="form"></span>
            <span>Cấp phát biên lai</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/bien-lai/thong-ke">
            <span nz-icon nzType="bar-chart"></span>
            <span>Thống kê biên lai</span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Báo cáo" nzIcon="bar-chart">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/reports/monthly">
            <span nz-icon nzType="file-text"></span>
            <span>Báo cáo tháng</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/reports/statistics">
            <span nz-icon nzType="fund"></span>
            <span>Thống kê</span>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/settings">
        <span nz-icon nzType="setting"></span>
        <span>Cài đặt</span>
      </li>
      <li nz-menu-item (click)="logout()" class="logout-item">
        <span nz-icon nzType="logout"></span>
        <span>Đăng xuất</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="header-left">
          <span class="header-trigger" (click)="toggleCollapsed()">
            <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </span>
        </div>
        <div class="header-right">
          <span class="header-item">
            <span nz-icon nzType="bell" nzTheme="outline"></span>
          </span>
          <nz-divider nzType="vertical"></nz-divider>
          <a class="header-item" nz-dropdown [nzDropdownMenu]="userMenu">
            <nz-avatar [nzSrc]="'https://api.dicebear.com/7.x/avataaars/svg?seed=' + currentUser?.username" [nzSize]="32"></nz-avatar>
            <span class="username">{{ currentUser?.hoTen || currentUser?.username }}</span>
          </a>
          <nz-dropdown-menu #userMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <span nz-icon nzType="user"></span>
                Thông tin cá nhân
              </li>
              <li nz-menu-item>
                <span nz-icon nzType="lock"></span>
                Đổi mật khẩu
              </li>
              <li nz-menu-item (click)="logout()">
                <span nz-icon nzType="logout"></span>
                Đăng xuất
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
