<div class="container">
  <div class="header">
    <h2>
      <i nz-icon nzType="history" nzTheme="outline"></i>
      Lịch sử kê khai
    </h2>
    <div class="button-group">
      <button nz-button nzType="primary" (click)="search()">
        <i nz-icon nzType="search"></i>
        Tìm kiếm
      </button>
      <button nz-button (click)="resetForm()">
        <i nz-icon nzType="reload"></i>
        Làm mới
      </button>
      <button nz-button (click)="exportToExcel()">
        <i nz-icon nzType="download"></i>
        Xuất Excel
      </button>
      <button nz-button nzType="primary" [disabled]="getTotalSelectedCount() === 0" (click)="xuatD03TuHeaderButton()">
        <i nz-icon nzType="file-excel"></i>
        Xuất D03 ({{ getTotalSelectedCount() }} bản ghi)
      </button>
      <button nz-button nzType="default" (click)="openMaSoBHXHModal()">
        <i nz-icon nzType="search"></i>
        Tìm nhiều mã số BHXH
      </button>
    </div>
  </div>

  <!-- Form tìm kiếm -->
  <div class="search-section">
    <div class="search-form">
      <nz-row [nzGutter]="16">
        <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
          <nz-form-item>
            <nz-form-label>Mã số BHXH:</nz-form-label>
            <nz-form-control>
              <div class="custom-input-group">
                <input nz-input placeholder="Nhập mã số BHXH" [(ngModel)]="searchForm.maSoBHXH" name="maSoBHXH">
                <button nz-button nzType="primary" nzTooltip="Xuất D03 từ mã số BHXH" (click)="xuatD03TuMaSoBHXH()">
                  <i nz-icon nzType="file-excel"></i>
                </button>
              </div>
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
          <nz-form-item>
            <nz-form-label>CCCD:</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Nhập CCCD" [(ngModel)]="searchForm.cccd" name="cccd">
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
          <nz-form-item>
            <nz-form-label>Họ tên:</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Nhập họ tên" [(ngModel)]="searchForm.hoTen" name="hoTen">
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
          <nz-form-item>
            <nz-form-label>Đơn vị:</nz-form-label>
            <nz-form-control>
              <nz-select
                nzShowSearch
                nzAllowClear
                [(ngModel)]="searchForm.donViId"
                name="donViId"
                nzPlaceHolder="Chọn đơn vị">
                <nz-option *ngFor="let donVi of donVis" [nzValue]="donVi.id" [nzLabel]="donVi.tenDonVi"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
      <nz-row [nzGutter]="16">
        <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
          <nz-form-item>
            <nz-form-label>Thời gian:</nz-form-label>
            <nz-form-control>
              <nz-range-picker
                [(ngModel)]="dateRange"
                [nzFormat]="'dd/MM/yyyy'"
                (ngModelChange)="onDateRangeChange($event)"
                name="dateRange">
              </nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </div>
  </div>

  <!-- Tabs và Bảng dữ liệu -->
  <nz-tabset [(nzSelectedIndex)]="selectedTabIndex" (nzSelectedIndexChange)="onTabChange($event)">
    <nz-tab nzTitle="Kê khai BHYT">
      <nz-table
        #bhytTable
        [nzData]="keKhaiBHYTs"
        [nzLoading]="loading"
        [nzShowSizeChanger]="true"
        [nzPageSizeOptions]="[10, 20, 30, 40, 50]"
        [nzShowTotal]="totalTemplate"
        [nzShowPagination]="true"
        [nzScroll]="{ x: '1300px' }"
        class="mt-4">
        <thead>
          <tr>
            <th nzWidth="60px">
              <label nz-checkbox [(ngModel)]="isAllBHYTChecked" [nzIndeterminate]="isIndeterminateBHYT" (ngModelChange)="checkAllBHYT($event)"></label>
            </th>
            <th nzWidth="180px">Đợt kê khai</th>
            <th nzWidth="120px">Mã số BHXH</th>
            <th nzWidth="150px">Họ tên</th>
            <th nzWidth="120px">CCCD</th>
            <th nzWidth="100px">Ngày sinh</th>
            <th nzWidth="80px">Giới tính</th>
            <th nzWidth="80px">Người thứ</th>
            <th nzWidth="120px">Phương án đóng</th>
            <th nzWidth="100px">Số tháng</th>
            <th nzWidth="120px" nzAlign="right">Số tiền đóng</th>
            <th nzWidth="150px">Ngày tạo</th>
            <th nzWidth="120px">Mã hồ sơ</th>
            <th nzWidth="120px">Mã nhân viên</th>
            <th nzWidth="150px">Đơn vị</th>
            <th nzWidth="100px">Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of bhytTable.data">
            <td>
              <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="refreshBHYTCheckedStatus()"></label>
            </td>
            <td>{{ item.dotKeKhaiInfo }}</td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.ma_so_bhxh }}</ng-container>
            </td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.ho_ten }}</ng-container>
            </td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.cccd }}</ng-container>
            </td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.ngay_sinh | date:'dd/MM/yyyy' }}</ng-container>
            </td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.gioi_tinh === 'nam' ? 'Nam' : 'Nữ' }}</ng-container>
            </td>
            <td>{{ item.nguoi_thu }}</td>
            <td>
              <nz-tag [nzColor]="'blue'">
                {{ getPhuongAnDongText(item.phuong_an_dong) }}
              </nz-tag>
            </td>
            <td>{{ item.so_thang_dong }}</td>
            <td nzAlign="right">{{ item.so_tien_can_dong | number }} đ</td>
            <td>{{ item.ngay_tao | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ item.ma_ho_so || 'N/A' }}</td>
            <td>{{ item.ma_nhan_vien || 'N/A' }}</td>
            <td>{{ item.dotKeKhai?.donVi?.tenDonVi || 'Không có' }}</td>
            <td>
              <nz-tag [nzColor]="item.dotKeKhai?.trang_thai === 'hoan_thanh' ? 'success' : 'processing'">
                {{ item.dotKeKhai?.trang_thai === 'hoan_thanh' ? 'Hoàn thành' : 'Đang xử lý' }}
              </nz-tag>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <div class="mt-3" *ngIf="getSelectedBHYTCount() > 0">
        <button nz-button nzType="primary" (click)="xuatD03TuNhieuBangGhi('bhyt')">
          <i nz-icon nzType="file-excel"></i> Xuất D03 ({{ getSelectedBHYTCount() }} bản ghi đã chọn)
        </button>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Kê khai BHXH">
      <nz-table
        #bhxhTable
        [nzData]="keKhaiBHXHs"
        [nzLoading]="loading"
        [nzShowSizeChanger]="true"
        [nzPageSizeOptions]="[10, 20, 30, 40, 50]"
        [nzShowTotal]="totalTemplate"
        [nzShowPagination]="true"
        [nzScroll]="{ x: '1300px' }"
        class="mt-4">
        <thead>
          <tr>
            <th nzWidth="60px">
              <label nz-checkbox [(ngModel)]="isAllBHXHChecked" [nzIndeterminate]="isIndeterminateBHXH" (ngModelChange)="checkAllBHXH($event)"></label>
            </th>
            <th nzWidth="180px">Đợt kê khai</th>
            <th nzWidth="120px">Mã số BHXH</th>
            <th nzWidth="150px">Họ tên</th>
            <th nzWidth="120px">CCCD</th>
            <th nzWidth="100px">Ngày sinh</th>
            <th nzWidth="80px">Giới tính</th>
            <th nzWidth="120px">Mức lương</th>
            <th nzWidth="120px">Phương án đóng</th>
            <th nzWidth="100px">Số tháng</th>
            <th nzWidth="120px" nzAlign="right">Số tiền đóng</th>
            <th nzWidth="150px">Ngày tạo</th>
            <th nzWidth="120px">Mã hồ sơ</th>
            <th nzWidth="120px">Mã nhân viên</th>
            <th nzWidth="150px">Đơn vị</th>
            <th nzWidth="100px">Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of bhxhTable.data">
            <td>
              <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="refreshBHXHCheckedStatus()"></label>
            </td>
            <td>{{ item.dotKeKhaiInfo }}</td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.ma_so_bhxh }}</ng-container>
            </td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.ho_ten }}</ng-container>
            </td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.cccd }}</ng-container>
            </td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.ngay_sinh | date:'dd/MM/yyyy' }}</ng-container>
            </td>
            <td>
              <ng-container *ngIf="item.thongTinThe">{{ item.thongTinThe.gioi_tinh === 'nam' ? 'Nam' : 'Nữ' }}</ng-container>
            </td>
            <td>{{ item.muc_luong | number }} đ</td>
            <td>
              <nz-tag [nzColor]="'blue'">
                {{ getPhuongAnDongText(item.phuong_an_dong) }}
              </nz-tag>
            </td>
            <td>{{ item.so_thang_dong }}</td>
            <td nzAlign="right">{{ item.so_tien_can_dong | number }} đ</td>
            <td>{{ item.ngay_tao | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ item.ma_ho_so || 'N/A' }}</td>
            <td>{{ item.ma_nhan_vien || 'N/A' }}</td>
            <td>{{ item.dotKeKhai?.donVi?.tenDonVi || 'Không có' }}</td>
            <td>
              <nz-tag [nzColor]="item.dotKeKhai?.trang_thai === 'hoan_thanh' ? 'success' : 'processing'">
                {{ item.dotKeKhai?.trang_thai === 'hoan_thanh' ? 'Hoàn thành' : 'Đang xử lý' }}
              </nz-tag>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <div class="mt-3" *ngIf="getSelectedBHXHCount() > 0">
        <button nz-button nzType="primary" (click)="xuatD03TuNhieuBangGhi('bhxh')">
          <i nz-icon nzType="file-excel"></i> Xuất D03 ({{ getSelectedBHXHCount() }} bản ghi đã chọn)
        </button>
      </div>
    </nz-tab>
  </nz-tabset>

  <ng-template #totalTemplate let-total>
    Tổng số {{ total }} bản ghi
  </ng-template>
</div>